.button {
  background-color: black;
  border: 2px solid $off-white;
  border-radius: 5%;
  color: white;
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: 300;
  line-height: 1;
  outline: none;
  padding: $s-size $m-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

.button--more {
  background: lighten($dark-blue, 50%);
  width: 100%;
}

.button--star {
  background: none;
  color: black;
  font-size: $font-size-large;
  border: none;
}

.button--simple {
  background: none;
  border: none;
  color: grey;
  font-weight: 300;
  padding: 0;
  padding-bottom: $s-size/2;
  margin-left: $s-size;
}

.button--navbar {
  border: none;
  padding: 0 $s-size 0 0;
}

.is-selected {
  border-bottom: 1px solid grey;
  font-weight: 900;
}

.button--pin {
  color: $light-grey;
  border: none;
  padding: $m-size 0;
  text-align: right;
}
.button--pin--selected {
  color: black;
}
