.button {
  background-color: $off-white;
  border: 1px solid lightgrey;
  border-radius: 6px;
  color: grey;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1;
  outline: none;
  padding: $s-size/2;
  margin-top: $s-size/2;
  margin-right: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    background: grey;
    color: $off-white;
    transition: all 0.3s ease;
  }
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888888;
}

.button--more {
  // background: lighten($dark-blue, 50%);
  width: 100%;
}

.button--star {
  background: none;
  color: black;
  font-size: $font-size-large;
  border: none;
}

.button--simple {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: grey;
  font-weight: 300;
  padding: 0;
  padding-bottom: $s-size/2;
  margin-left: $s-size;
  &:hover {
    background: none;
    color: grey;
  }
}

.button--navbar {
  border: none;
  font-size: $font-size-medium;
  padding: 0 $s-size 0 0;
  &:hover {
    background: none;
    color: grey;
  }
}

.is-selected {
  border-bottom: 1px solid grey;
  border-radius: 0;
  font-weight: 900;
}

.button--pin {
  background: none;
  color: $light-grey;
  border: none;
  padding: $m-size 0;
  text-align: right;
  outline: none;
}
.button--pin--selected {
  color: black;
}

.button--preferences {
  text-align: center;
  width: 15rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:disabled {
  background: rgb(219, 219, 219);
  color: grey;
  cursor: not-allowed;
}

.button--icon {
  font-size: $font-size-medium;
  margin-right: 1rem;
}
