.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  min-height: 100%;
  max-width: 90rem;
}
.content-container--border {
  // border-left: 5px solid lightgrey;
  // border-right: 5px solid lightgrey;
}
