.dropdown-line {
  display: flex;
  width: 25rem;
  img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-right: $s-size/2;
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ant-dropdown-menu {
  top: 10px;
  background: rgba(0, 0, 0, 0.7);
  .ant-dropdown-menu-item {
    color: $off-white;
    &:hover {
      color: black;
    }
  }
}
.ant-dropdown-menu-item:first-child {
  background: none;
}

.dropdown__check {
  color: green;
  // position: relative;
  // right: 2.4rem;
  height: 20px;
  width: 20px;
}
