// Remove the editor thin default border
// Set editor min-height
.ql-container.ql-snow {
  // border: none !important;
  min-height: 15rem;
}

// Remove toolbar on readOnly mode
.read-only > .quill > .ql-container.ql-snow {
  border: none !important;
}
.read-only > .quill > .ql-toolbar {
  display: none !important;
}

// Sticky toolbar
.quill > .ql-toolbar {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0px !important;
  z-index: 99 !important;
}

// Font

.ql-editor {
  font-family: Space Mono, Helvetica, Arial, sans-serif !important;

  & > p,
  li {
    color: $light-grey !important;
  }
}
