//the one used in home for example
.popular-last-filterbar__container {
  color: grey;
}

.popular-last-filterbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popular-last-filterbar--relative {
  position: relative;
  top: 7rem;
}

//the one used in dashboard for example
.complete-filterbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $l-size 0 $s-size 0;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}
