.footer__container {
  background: black;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: $s-size;
}

.footer__top {
  @extend .content-container;
}

.footer__nav {
  display: flex;
  margin: $s-size;
  cursor: pointer;
  div {
    color: grey;
    font-size: 1rem;
    margin-right: 1rem;
    &:hover {
      color: lightblue;
    }
  }
}

.footer__license {
  font-size: 0.8rem;
}

.footer__modal {
  padding: $xl-size 1rem;
  text-align: center;
}
