.form {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size;
  font-style: italic;
}

.footer--correction__addpost {
  padding-bottom: 20rem;
}

.form--post > label > textarea {
  background: none;
  color: $off-white;
  font-size: $font-size-huge;
  text-align: center;
}

.form label {
  color: $off-white;
}
