@import "./base/mixins";
.grid-home-first {
  @include grid(4);
  margin: $xl-size 0 0 0;
  padding: 0 0 $xl-size 0;
  & > * {
    text-decoration: none;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding: $xl-size 0 $xl-size*2 0;
  }
}

.grid-home-first > div:nth-child(odd) > div,
.grid-home-second > div:nth-child(odd) > div {
  background: rgba(255, 255, 255, 0.05);
}

.grid-home-first > div:nth-child(1),
.grid-home-first > div:nth-child(9) {
  @extend .flexitem-triple;
  img {
    height: 100% !important;
  }
  .category-container-bis {
    justify-content: flex-start;
  }
}
.grid-home-first > div:nth-child(3),
.grid-home-first > div:nth-child(4),
.grid-home-first > div:nth-child(13) {
  @extend .flexitem-double;
}

// .grid-home-first > div:nth-child(6) {
//   @extend .flexitem-double;
// }

.grid-home-first > div:nth-child(even) {
  background: none;
  @media (min-width: $desktop-breakpoint) {
    background: none;
  }
}

.grid-home-second {
  @include grid(3);
  margin: $xl-size 0 0 0;
  padding: 0 0 $xl-size 0;
  & > * {
    text-decoration: none;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding: $xl-size 0 $xl-size*2 0;
  }
}

.grid-home-second > div:nth-child(1) {
  @extend .flexitem-double;
  img {
    height: 100% !important;
  }
  .category-container-bis {
    justify-content: flex-start;
  }
}

.grid-home-second > a:nth-child(1),
.grid-home-second > a:nth-child(7) {
  @extend .flexitem-double;
}
.homelist__empty {
  display: flex;
  justify-content: center;
  min-height: 35rem;
  width: 100%;
  padding: $xl-size;
  p {
    font-style: italic;
  }
}

.homelist__header {
  color: grey;
  // border-bottom: 2px solid black;
  // border-top: 5px solid lightgrey;
  // border-bottom: 5px solid lightgrey;
}
.homelist__header__title {
  color: $off-white;
  font-size: $font-size-medium;
  font-weight: 900;
  margin: 0 auto 0 $s-size;
  padding: $s-size;
}

.homelist-item {
  margin-top: $m-size;

  padding-bottom: $m-size;
  transition: transform 1s ease, box-shadow 1.5s ease;

  @media (min-width: $desktop-breakpoint) {
    margin-top: 0;
    margin-bottom: $l-size;
    padding-bottom: 0;
  }
}

.homelist-item__content__container {
  @media (min-width: $desktop-breakpoint) {
    height: 100%;
  }

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.homelist-item__content {
  * {
    flex-basis: auto;
  }

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: $s-size;
  background: rgba(255, 255, 255, 0);
  // border: 1px solid rgba(255, 255, 255, 0.2);
  // height: 100%;
  text-decoration: none;
  transition: all 1s ease;
  .category-container {
    display: block;
    .category-container-bis {
      display: flex;
      justify-content: flex-end;
      padding: 5px;
    }
    p {
      // display: inline-block;
      /* height: 0; */
      z-index: 2;
      background: rgba(0, 0, 0, 0.7);
    }
  }
  @media (min-width: $desktop-breakpoint) {
    height: 100%;
    &:hover {
      transform: scale(1.05);

      -webkit-box-shadow: 0px 30px 95px -23px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 30px 95px -23px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 30px 95px -23px rgba(0, 0, 0, 0.75);
      background: rgba(255, 255, 255, 0.05);

      transition: transform 1s ease, box-shadow 1.5s ease, background 1s ease;
      transition-delay: 0.1s;
      .homelist-item__content__cover {
        // width: 80%;
        transition: all 1s ease;
        transition-delay: 0.1s;
        object-position: 60% 60%;
      }
    }
  }
}

.grid-home-first .homelist-item:nth-child(1),
.grid-home-first .homelist-item:nth-child(9) {
  @media (min-width: $desktop-breakpoint) {
    .homelist-item__content {
      display: flex;
      flex-direction: row;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .homelist-item__content__cover {
      width: 30rem;
      min-height: 40rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
    .homelist-item__content__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 40rem;
    }
    a > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 30rem;
    }
    .homelist-item__content__title {
      text-align: center;
    }
  }
}

.grid-home-second .homelist-item:nth-child(1) {
  @media (min-width: $desktop-breakpoint) {
    .homelist-item__content {
      display: flex;
      flex-direction: row;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .homelist-item__content__cover {
      width: 30rem;
      min-height: 40rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
    .homelist-item__content__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 40rem;
    }
    a > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-content: space-between;
      min-height: 30rem;
    }
    .homelist-item__content__title {
      text-align: center;
    }
  }
}

.homelist-item__content__cover {
  // max-width: 100%;
  // max-height: 15rem;
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 30% 30%;
  transition: object-position 1s ease;
  transition-delay: 0.1s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.homelist-item__content__header {
  // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: $s-size;
  * {
    color: $grey;
  }
}

.homelist-item__content__infos {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2rem;
  font-size: $s-size;
  padding: $s-size 0 0 0;
  * {
    color: $grey;
  }
}

.homelist-item__content__title {
  // font-family: Helvetica;
  color: $off-white;
  margin: 0;
  padding: $s-size 0;
  font-size: $font-size-medium;
  font-weight: 900;
  &:hover {
    text-decoration: underline;
  }
}

.homelist-item__content__subtitle {
  text-align: right;
  * {
    margin: 0;
  }
}
.homelist-item__content__author {
  // border-top: 1px solid rgb(70, 70, 70);
  color: $off-white;
  font-size: $font-size-small;
  padding: $m-size 0;
}

.homelist-item__content__date {
  color: $grey;
  margin-top: 0;
}

.homelist-item__footer {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homelist-item__footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $s-size;
}
// .homelist-item__footer__index {
//   border: 1px solid $grey;
//   border-radius: 50%;
//   color: $grey;
//   height: 20px;
//   width: 20px;
//   font-size: 1.2rem;
//   margin-right: $s-size/2;
//   text-align: center;
// }

.button--pin__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.2rem 0.7rem;
}
