@import "./base/mixins";
.grid-home-first {
  @include grid(4);
  margin: $xl-size 0 0 0;
  padding: 0 0 $xl-size 0;
  & > * {
    text-decoration: none;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding: $xl-size 0 $xl-size*2 0;
  }
}

.grid-home-first > div:nth-child(1),
.grid-home-first > div:nth-child(6) {
  @extend .flexitem-triple;
}
.grid-home-first > div:nth-child(5) {
  @extend .flexitem-double;

  margin-bottom: $xl-size*2;
}

.grid-home-first > div:nth-child(6) {
  @extend .flexitem-double;
}

.grid-home-first > div:nth-child(even) {
  background: none;
  @media (min-width: $desktop-breakpoint) {
    background: none;
  }
}

.grid-home-second {
  @include grid(3);
  margin: $xl-size 0 0 0;
  padding: 0 0 $xl-size 0;
  & > * {
    text-decoration: none;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding: $xl-size 0 $xl-size*2 0;
  }
}

.grid-home-second > div:nth-child(1) {
  @extend .flexitem-double;
}

.grid-home-second > a:nth-child(1),
.grid-home-second > a:nth-child(7) {
  @extend .flexitem-double;
}
.homelist__empty {
  display: flex;
  justify-content: center;
  min-height: 35rem;
  width: 100%;
  padding: $xl-size;
  p {
    font-style: italic;
  }
}

.homelist__header {
  color: grey;
  // border-bottom: 2px solid black;
  // border-top: 5px solid lightgrey;
  // border-bottom: 5px solid lightgrey;
}
.homelist__header__title {
  color: $off-white;
  font-size: $font-size-medium;
  font-weight: 900;
  margin: 0 auto 0 $s-size;
  padding: $s-size;
}

.homelist-item {
  margin-top: $m-size;

  padding-bottom: $m-size;
  transition: transform 1s ease, box-shadow 1.5s ease;

  @media (min-width: $desktop-breakpoint) {
    margin-top: 0;
    margin-bottom: $l-size;
    padding-bottom: 0;
  }
  &:hover {
    transform: scale(1.05);

    -webkit-box-shadow: 0px 30px 95px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 30px 95px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 30px 95px -23px rgba(0, 0, 0, 0.75);

    transition: transform 1s ease, box-shadow 1.5s ease;
    transition-delay: 0.1s;
    .homelist-item__content__cover {
      // width: 80%;
      transition: all 1s ease;
      transition-delay: 0.1s;
      object-position: 60% 60%;
    }
  }
}

.grid-home-first .homelist-item:nth-child(1),
.grid-home-first .homelist-item:nth-child(6) {
  @media (min-width: $desktop-breakpoint) {
    .homelist-item__content {
      display: flex;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .homelist-item__content__cover {
      width: 30rem;
      min-height: 40rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
    .homelist-item__content__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 40rem;
    }
    a > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 30rem;
    }
    .homelist-item__content__title {
      text-align: center;
    }
  }
}

.grid-home-second .homelist-item:nth-child(1) {
  @media (min-width: $desktop-breakpoint) {
    .homelist-item__content {
      display: flex;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .homelist-item__content__cover {
      width: 30rem;
      min-height: 40rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
    .homelist-item__content__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 40rem;
    }
    a > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-content: space-between;
      min-height: 30rem;
    }
    .homelist-item__content__title {
      text-align: center;
    }
  }
}

.homelist-item__content {
  margin-bottom: $s-size;
  padding-bottom: $s-size;
  text-decoration: none;
  transition: all 0.5s ease;
}

.homelist-item__content__cover {
  // max-width: 100%;
  // max-height: 15rem;
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 30% 30%;
  transition: object-position 0.5s ease;
  transition-delay: 0.1s;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}

.homelist-item__content__header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0;
  font-size: $s-size;
  * {
    color: $grey;
  }
}

.homelist-item__content__infos {
  margin: 0 2rem;
  font-size: $s-size;
  * {
    color: $grey;
  }
}

.homelist-item__content__title {
  // font-family: Helvetica;
  color: $off-white;
  margin: 0;
  padding: $m-size;
  font-size: $font-size-medium;
  font-weight: 900;
  &:hover {
    text-decoration: underline;
  }
}

.homelist-item__content__subtitle {
  text-align: right;
  * {
    margin: 0;
  }
}
.homelist-item__content__author {
  border-top: 1px solid rgb(70, 70, 70);
}

.homelist-item__content__date {
  color: $grey;
  margin-top: 0;
}

.homelist-item__footer {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homelist-item__footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homelist-item__footer__index {
  border: 1px solid $grey;
  border-radius: 50%;
  color: $grey;
  height: 20px;
  width: 20px;
  font-size: 1.2rem;
  margin-right: $s-size/2;
  text-align: center;
}

.button--pin__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.2rem 0.7rem;
}

.border-bottom-music {
  border-bottom: 1px solid $music;
}
.border-bottom-architecture {
  border-bottom: 1px solid $architecture;
}
.border-bottom-sculpture {
  border-bottom: 1px solid $sculpture;
}
.border-bottom-visuals {
  border-bottom: 1px solid $visuals;
}
.border-bottom-performings {
  border-bottom: 1px solid $performings;
}
.border-bottom-cinema {
  border-bottom: 1px solid $cinema;
}
.border-bottom-literature {
  border-bottom: 1px solid $literature;
}
.border-bottom-photography {
  border-bottom: 1px solid $photography;
}
.border-bottom-all {
  border-bottom: 1px solid $grey;
}
