@import "./base/mixins";
.grid-home-first {
  @include grid(4);
  border-top: 2px solid $gold;
  margin: $xl-size 0;
  padding: 0;
  & > * {
    text-decoration: none;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0 0 $xl-size*2 0;
    padding-top: $m-size;
  }
}

.grid-home-first > div:nth-child(1),
.grid-home-first > div:nth-child(5) {
  @extend .flexitem-double;
}

.grid-home-first > div:nth-child(even) {
  background: $off-white;
  @media (min-width: $desktop-breakpoint) {
    background: none;
  }
}

.grid-home-second {
  @include grid(3);
  border-top: 2px solid $gold;
  margin: $l-size 0;
  & > * {
    text-decoration: none;
  }
  @media (min-width: $desktop-breakpoint) {
    margin: 0 0 $xl-size*2 0;
    padding-top: $m-size;
  }
}

.grid-home-second > a:nth-child(1),
.grid-home-second > a:nth-child(7) {
  @extend .flexitem-double;
}

.homelist__title {
  color: $light-grey;
  font-size: $font-size-medium;
  margin: 0 auto 0 $s-size;
}
.homelist-item {
  margin-top: $m-size;
  padding-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-top: 0;
    padding-bottom: 0;
  }
}
.homelist-item__content {
  border: 1px solid #fff;
  margin-bottom: $s-size;
  text-decoration: none;
  // transition: all 0.3s ease;
  &:hover {
    background: $off-white;
    border: 1px solid $grey;
    transition: all 0.3s ease;
    * {
      background: $off-white;
      transition: all 0.3s ease;
    }
    .homelist-item__title {
      color: black;
    }
  }
}

.homelist-item__content__cover {
  // max-width: 100%;
  // max-height: 15rem;
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.homelist-item__content__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0;
  font-size: $s-size;
  * {
    color: $grey;
  }
}

.homelist-item__content__infos {
  margin: 0 2rem;
  font-size: $s-size;
  * {
    color: $grey;
  }
}

.homelist-item__content__title {
  // font-family: Helvetica;
  color: rgb(85, 85, 85);
  border-top: 1px solid rgb(70, 70, 70);
  margin: 0;
  padding: $m-size;
  font-size: $font-size-medium;
  font-weight: 900;
}

.homelist-item__content__subtitle {
  text-align: right;
  * {
    margin: 0;
  }
}
.homelist-item__content__author {
  border-top: 1px solid rgb(70, 70, 70);
}

.homelist-item__content__date {
  color: $grey;
  margin-top: 0;
}

.homelist-item__footer {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homelist-item__footer__index {
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 1.2rem;
  margin-right: $s-size/2;
  text-align: center;
}

.button--pin__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.2rem 0.7rem;
}
