.header {
  // border-bottom: 2px solid $gold;
  position: relative;
  background: white;
  border-bottom: 2px solid $grey;
}

.header__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.header__title {
  color: $dark-grey;
  text-decoration: none;
  padding: $s-size 0;
  h1 {
    margin: 0;
    font-family: "Source Sans Pro";
    font-size: $font-size-large;
    font-weight: 1000;
    // line-height: 2.4rem;
    // background: black;
    // color: white;
    margin: $s-size 0;
  }
}

.header__navbar,
.header__search {
  width: 20rem;
  // padding: $s-size;
}

.header__search {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: block;
  }
}

.header__navbar {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 0 $s-size 0;
  @media (min-width: $desktop-breakpoint) {
    justify-content: flex-end;
    padding: 0;
  }

  a,
  button,
  div,
  nav {
    @extend .button, .button--navbar;
    background: white;
    color: $dark-grey;
    margin-left: 0.5rem;
    &:hover {
      color: #108ee9;
    }
  }
  button {
    margin-left: 1rem;
  }
  nav {
    margin-right: 0;
    margin-left: 0;
    @media (min-width: $desktop-breakpoint) {
      margin-right: 2rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
  div {
    margin: 0;
    padding: 0;
  }
  nav:nth-child(3) {
    position: relative;
    bottom: 1.2rem;
  }
}
.header__navbar__run {
  height: 100%;
}

.header__navbar__run__badge {
  font-size: 0.8rem !important;
  left: 15px;
  top: 12px;
  .ant-badge-count {
    color: white;
    background: grey !important;
    font-size: 0.8rem;
  }
}

.header__navbarsub {
  align-items: center;
  background: black;
  border-bottom: 1px solid $grey;
  display: flex;
  flex-direction: column;
  min-height: 4rem;
  justify-content: center;
  div {
    height: 4rem;
    display: flex;
    align-items: center;
  }
  div > a {
    align-items: center;
    display: flex;
    border-bottom: 2px solid black;
    color: $off-white;
    font-size: $font-size-small;
    height: 4rem;
    margin-left: $s-size;
    text-decoration: none;
    transition: all 0.7s ease;
  }
  div > a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: all 0.7s ease;
  }
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.header__navbarsub__tab--selected {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5) !important;
  transition: all 0.7s ease;
}
// overridding antd styles for badge
// .ant-message {
//   margin-top: 7rem;
// }

.header__go-top {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: block;
    border: 10px solid darken($off-white, 3%);
    border-radius: 50%;
    font-size: $font-size-huge;
    line-height: 0;
    position: fixed;
    top: 12vh;
    right: 4vw;
    padding: $m-size;
    cursor: pointer;
    i {
      color: darken($off-white, 3%);
    }
  }
}
