.header {
  // padding-bottom: 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid $light-grey;
}

.header__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.header__title {
  color: $dark-grey;
  text-decoration: none;
  h1 {
    margin: 0;
    font-family: "Source Sans Pro";
    font-size: $font-size-medium;
    font-weight: 1000;
    letter-spacing: 8px;
    @media (min-width: $desktop-breakpoint) {
      font-size: $font-size-large;
    }
  }
}

.header__navbar,
.header__search {
  width: 20rem;
  // padding: $s-size;
}

.header__search {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: block;
  }
}

.header__navbar {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  @media (min-width: $desktop-breakpoint) {
    justify-content: flex-end;
    padding: 0;
  }

  a,
  button,
  div,
  nav {
    @extend .button, .button--navbar;
    background: none;
    color: $dark-grey;
    margin-left: 0.5rem;
    &:hover {
      color: #108ee9;
    }
  }
  button {
    margin-left: 1rem;
  }
  nav {
    margin-right: 0;
    margin-left: 0;
    @media (min-width: $desktop-breakpoint) {
      margin-right: 2rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
  div {
    margin: 0;
    padding: 0;
  }
  nav:nth-child(3) {
    position: relative;
    bottom: 1.2rem;
  }
}
.header__navbar__run {
  height: 100%;
}

.header__navbar__run__badge {
  font-size: 0.8rem !important;
  left: 15px;
  top: 12px;
  .ant-badge-count {
    color: white;
    background: grey !important;
    font-size: 0.8rem;
  }
}

.header__navbarsub {
  align-items: center;
  background: black;
  border-bottom: 2px solid $grey;
  display: flex;
  flex-direction: row;
  min-height: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  div {
    height: 6rem;
    display: flex;
    align-items: center;
  }
  a {
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    color: $off-white;
    font-size: $font-size-small;
    height: 5rem;
    margin: 0 $s-size;
    text-decoration: none;
    transition: all 0.7s ease;
    line-height: 0;
    // width: 7rem;
  }
  a:nth-child(1):hover {
    color: $architecture;
    transition: all 0.7s ease;
  }
  a:nth-child(2):hover {
    color: $sculpture;
    transition: all 0.7s ease;
  }
  a:nth-child(3):hover {
    color: $visuals;
    transition: all 0.7s ease;
  }
  a:nth-child(4):hover {
    color: $music;
    transition: all 0.7s ease;
  }
  a:nth-child(5):hover {
    color: $literature;
    transition: all 0.7s ease;
  }
  a:nth-child(6):hover {
    color: $performings;
    transition: all 0.7s ease;
  }
  a:nth-child(7):hover {
    color: $cinema;
    transition: all 0.7s ease;
  }

  a:nth-child(8):hover {
    color: $photography;
    transition: all 0.7s ease;
  }
  a:nth-child(9):hover {
    color: #74702e;
    transition: all 0.7s ease;
  }
  // @media (min-width: $desktop-breakpoint) {
  //   flex-direction: row;
  // }
}

.header__navbarsub__tab--selected {
  transition: all 0.7s ease;
}
// overridding antd styles for badge
// .ant-message {
//   margin-top: 7rem;
// }

.header__go-top {
  display: none;
  @media (min-width: $desktop-breakpoint) {
    display: block;
    border: 10px solid darken($off-white, 3%);
    border-radius: 50%;
    font-size: $font-size-huge;
    line-height: 0;
    position: fixed;
    top: 12vh;
    right: 4vw;
    padding: $m-size;
    cursor: pointer;
    i {
      color: darken($off-white, 3%);
    }
  }
}
