.image-container {
  background: red;
  width: 100vw;
}
.image {
  // max-width: 100%;
  // max-height: 15rem;

  width: 100%;
  object-fit: cover;
}

.image--cover {
  height: 40rem;
}

.image--circle {
  border-radius: 50%;
}
