.inline-list__title {
  color: $light-grey;
  font-size: $font-size-medium;
  margin: 0 auto 0 $s-size;
}

.inline-list-item {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $s-size;
  text-decoration: none;
  // transition: all 0.3s ease;
  &:hover {
    background: $off-white;
    border: 1px solid $grey;
    transition: all 0.3s ease;
    * {
      background: $off-white;
      transition: all 0.3s ease;
    }
    .inline-list-item__title {
      color: black;
    }
  }
}
.inline-list-item__left {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.inline-list-item__right {
  width: 80%;
}
.inline-list-item__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inline-list-item__header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0;
  font-size: $s-size;
  * {
    color: $grey;
  }
}

.inline-list-item__header--right {
  display: flex;
  align-items: center;
  p > i {
    color: green;
    font-size: $font-size-medium;
    margin-right: $m-size;
  }
}

.inline-list-item__infos {
  margin: 0 2rem;
  font-size: $s-size;
  * {
    color: $grey;
  }
}

.inline-list-item__title {
  // font-family: Helvetica;
  color: rgb(85, 85, 85);
  border-top: 1px solid rgb(70, 70, 70);
  margin: 0;
  padding: $m-size;
  font-size: $font-size-medium;
  font-weight: 900;
}

.inline-list-item__subtitle {
  text-align: right;
  * {
    margin: 0;
  }
}
.inline-list-item__author {
  border-top: 1px solid rgb(70, 70, 70);
}

.inline-list-item__date {
  color: $grey;
  margin: 0;
}

.inline-list-item__keywords-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  li {
    background: $off-white;
    border-radius: 5px;
    display: inline-block;
    font-size: 1rem;
    padding: 0.2rem 0.7rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
  }
}
.inline-list-item__keywords {
  color: $grey;
  text-align: right;
}
