.keywords-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: $s-size;
  padding: 0.5rem 0;
  a {
    color: grey;
    display: inline-block;
    font-size: 1rem;
    padding: 0.2rem 0.7rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    transition: transform 0.7s ease;
    &:hover {
      transform: scale(1.2);
      transition: transform 0.7s ease;
    }
  }
}

.keywords-list__list-item-container,
.keywords-list__public-postlist__container {
  ul {
    justify-content: flex-end;
  }
}

.keywords-list__read-post-container {
  @extend .content-container;
  margin-bottom: $l-size;
}
