@import "./base/mixins";
.grid-dashboard {
  @include grid(4);
  border-bottom: 1px solid $off-white;
  margin-bottom: $m-size;
  & > * {
    text-decoration: none;
  }
}

.grid-dashboard > a:nth-child(1) {
  @extend .flexitem-double;
}

.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
  width: 100%;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  height: 32rem;
  justify-content: space-between;
  margin: $s-size 0;
  text-decoration: none;
  transition: background 0.3s ease;

  * {
    margin: 0;
  }

  h3 {
    font-size: $m-size;
  }

  &:hover {
    background: $off-white;
  }

  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: column;
    margin: $m-size 0;
    // padding: $m-size;
  }
}

.list-item__title {
  font-size: $m-size !important;
}

.list-item__img {
  // max-width: 100%;
  // max-height: 15rem;
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.list-item__infos {
  padding: 0 $s-size;
  @media (min-width: $desktop-breakpoint) {
    padding: 0 $m-size;
  }
  ul {
    @extend .block-with-text-2;
    margin: $m-size 0 0 0;
    padding: 0 $m-size 0 0;
    li {
      display: inline;
      font-size: $s-size;
      font-style: italic;
    }
  }
}

.list-item__footer {
  border-top: 1px solid $off-white;
  width: 100%;
  padding: $s-size;
}
