.page-header__container {
  background: black;

  // margin-bottom: $l-size;
  // padding: $l-size 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.page-header__actions {
  padding: $s-size 0;
  i {
    font-size: $font-size-medium;
  }
}

.page-header__title {
  color: $off-white;
  font-weight: 300;
  margin: $m-size 0 0 0;

  span {
    font-weight: bold;
  }
}
.page-header__subtitle {
  color: $off-white;
  padding: $s-size 0;
}

.page-header--read {
  padding-bottom: 0;
}
