.preferences {
  // align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}
.preferences__title {
  color: $off-white;
}

.preferences__avatar__container {
  @extend .content-container;
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  max-height: 450px;

  div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // button {
    //   width: 30%;
    // }
  }
}
.preferences__avatar {
  height: 350px;
  width: 350px;
  img {
    border: 3px solid grey;
    margin: $l-size 0;
  }
}

.preferences__form {
  padding-right: $s-size;
  width: 100%;
  @media (min-width: $desktop-breakpoint) {
    margin: $l-size $s-size;
    width: 70%;
  }

  label > p {
    color: $off-white;
    margin-right: $s-size;
  }
}

.preferences__form__block {
  margin: $m-size;
  textarea {
    background: rgba(150, 150, 150, 0.1);
    color: $off-white;
  }
}

.preferences__form__block__input-group {
  display: flex;
  flex-direction: column;
}
