.read-header__title {
  @extend .content-container;
  color: $off-white;
  font-size: $font-size-large;
  padding: 0 $s-size $l-size $s-size;
  text-align: center;
  @media (min-width: $desktop-breakpoint) {
    font-size: $font-size-huge;
    padding: 0 0 $l-size 0;
  }
}

.read-header__stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: $xl-size;
}
