.run__summary {
  background: black;
  color: $off-white;
  padding: $l-size $s-size;
}
.run__summary__header {
  display: flex;
  justify-content: space-between;
  div > h1 {
    color: $off-white !important;
    margin: 0;
  }
}

.run-list {
  padding: 5rem 0;
}

.run-list__empty {
  display: flex;
  justify-content: center;
  min-height: 35rem;
  width: 100%;
  padding: $xl-size;
  p {
    color: $off-white;
    font-style: italic;
  }
}
.run__list-item {
  position: relative;
  top: 0;
  z-index: 10;
}
.run__list-item--cover {
  background: red;
  position: relative;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  z-index: 5;
}

.run__summary__buttons {
  align-items: center;
  display: flex;
  & > button {
    border-radius: 50%;
    font-size: $font-size-huge;
    height: 6.6rem;
    width: 6.6rem;
  }
  div {
    display: flex;
    flex-direction: column;
  }
}
