.usercard__container {
  align-items: center;
  display: flex;
  font-family: Space Mono, Helvetica, Arial, sans-serif;
  padding: $l-size 0;
}

.usercard {
  display: flex;
}

.usercard__top {
  display: flex;
}

.usercard__avatar {
  align-items: center;
  border: 1px solid red;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin: 0 $s-size 0 $l-size;
  & > img {
    min-width: 8rem;
    min-height: 8rem;
  }
}

.usercard__infos--data {
  display: flex;
  justify-content: space-between;
  * {
    margin: 0;
  }
}
.usercard__infos--description {
  p {
    font-size: $s-size;
    font-style: italic;
    margin: 0.5rem 0;
    line-height: 1.2rem;
  }
}

.usercard__infos--footer {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.usercard__infos--data--author {
  margin: 0;
}

.usercard__stars {
  display: flex;
  font-size: $l-size;
  justify-content: flex-end;
  margin-top: $l-size;
  * {
    font-size: $l-size;
  }
}

.usercard__title {
  color: white;
  font-size: $xl-size;
  text-align: center;
  margin: 0;

  @media (min-width: $desktop-breakpoint) {
    padding: 0 5vw $l-size 5vw;
  }
}
