{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    ["import", [{ libraryName: "antd", style: "css" }]]
  ]
}
