* {
  box-sizing: border-box;
  // background: #111111;
}

html {
  font-size: 62.5%;
  height: 100%;
}
p {
  // color: $light-grey;
}
body {
  color: $dark-grey;
  // font-family: Space Mono, Arial, sans-serif;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: $m-size;
  height: 100%;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

label {
  p {
    margin-top: 0;
    margin-bottom: 0.2rem;
  }
  p:nth-child(1) {
    border-bottom: 1px solid grey;
    display: inline-block;
  }
  p:nth-child(2) {
    font-style: italic;
    font-size: 1rem;
    margin-left: $m-size;
  }
}

.no-decoration {
  text-decoration: none;
}
a:focus {
  outline: none;
}
